
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'assets/img/logo.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Blinker">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/Article-Clean.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/Article-Dual-Column.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-Clean.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Dark.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Clean.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/Registration-Form-with-Photo.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/Search-Input-responsive.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/Pretty-Search-Form.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/Article-List.css'%}">
    <link rel="stylesheet" href="{% static 'assets/fonts/material-icons.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css'%}">
    <script src="{% static 'assets/js/jquery.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.js'%}"></script>
    <script src="{% static 'assets/js/jquery.nice-select.js'%}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>


    <style>

        input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
        input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
        input[type="search"]::-webkit-search-decoration,
        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-results-button,
        input[type="search"]::-webkit-search-results-decoration { display: none; }

        body {
          font-family: Lora, serif;
        }

        A {
          color: rgb(49,52,55);
          text-decoration: none;
        }

        A:active {
          color: rgb(49,52,55);
          text-decoration: none;
        }

        A:hover {
          color: rgb(49,52,55);
          text-decoration: none;
        }

        .form-control:focus {
          border-color: #b3b7bc;
          box-shadow: none;
        }

        .btn:focus,.btn:active {
           outline: #b3b7bc;
           box-shadow: none;
        }


    </style>
