<!DOCTYPE html>
<html>
{% load static %}

<head>
    <title>Мои книги</title>
    {% include "patterns/head.html" %}
    <style>
        img.img-fluid {
            width: 217px;
            height: 340px;
            object-fit: cover;
        }
    </style>
</head>

<body>
    {% include "patterns/navbar.html" %}
    <div class="article-clean" style="margin: 40px 0px 0px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2 text-center">
                    <div class="intro">
                        <h1 class="text-center">Ваш личный кабинет</h1>
                    </div>
                    <div class="text">
                        <p>Тут собраны книги, которые вы загрузили сами или добавили к себе из каталога textrewind.<br /></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if not book_list %}
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center" style="color: rgb(86,88,91);font-family: Lora, serif;margin: 75px 0px 0px;">У вас пока что нет книг, добавьте первую из каталога или загрузите сами</p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="article-list">
        <div class="container">
            <div class="row justify-content-center articles">
                {% for book in book_list %}
                <div class="col-sm-6 col-md-4 col-xl-3 item" style="margin: 0px 1px;padding: 40px 15px 0px;"><a href="{% url 'book' book.id %}"><img class="img-fluid"  src="{{ book.book_image.url }}" /></a>
                    <a href="{% url 'book' book.id %}" class="text-decoration-none"><h3 class="name" style="font-family: Lora, serif;">{{ book.title }}</h3></a>
                    <a href="{% url 'book' book.id %}" class="text-decoration-none"><p class="description">{{ book.author }}<br /></p></a>
                    {% if request.user != book.creator %}
                        {% if request.user in book.additions.all %}
                            <a class="action" href="/add/{{book.id}}" style="color: rgb(125,130,133);"><i class="material-icons">highlight_off</i></a>
                        {% else %}
                            <a class="action" href="/add/{{book.id}}" style="color: rgb(125,130,133);"><i class="material-icons">control_point</i></a>
                        {% endif %}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</body>


</html>