<!DOCTYPE html>
<html>

{% load static %}

<head>
    <title>{{ notification }}</title>
    {% include "patterns/head.html" %}
</head>

<body>
    {% include "patterns/navbar.html" %}
    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center" style="margin: 100px 0px 0px 0px; color: #969696;">{{ notification }}</h1></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>